h1 {
  color: black;
}

h2 {
  font-style: normal;
  color: blue;
}

p {
  color: crimson;
  text-align: center
}

li {
  color: crimson;
  text-align: left
}

body {
  background-color: lightblue;
  font-family: sans-serif;
  text-align: center;
}
